
@font-face {
  font-family: 'DimaFont';
  src: url('https://drive.google.com/uc?export=download&id=1rfJsHB51dCjhy2xXCqFGMQBJ0JsOtghi') format('woff2'),
       url('https://drive.google.com/uc?export=download&id=1jRjZ_lh_9emKtIfTRXRb_OgwIq6tIFN3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
